In [1]:
import pandas as pd
import csv

In [44]:
count = 0
with open('output_unk_use.csv','w') as ft:
    with open('output_unk.csv') as csvfile:
        reader = csv.reader(csvfile, delimiter='|', quoting=csv.QUOTE_NONE)
        for row in reader:
            if len(row)==9:
                r = '|'.join(row).replace('"','')
                ft.write(r)
                ft.write('\n')
            else:
                count+=1
print(count)

0

In [41]:
df_s = pd.read_csv('out_samp.csv',sep='|',quoting=csv.QUOTE_NONE)

In [43]:
df_s.head()

,Predicted_label,Probability,Review,Upvotes,Downvotes,Rating,Reviewer_Id,Product_Id,Timestamp
0,0,0.73,i was sketchy at first about these but once yo...,0.0,0.0,5.0,A000008615DZQRRI946FO,B005FYPK9C,1.357603e+09
1,1,0.55,no matter what we did the bills just kept jamm...,6.0,1.0,1.0,A00001483M88NBD66LEP0,B004WPCQKG,1.353283e+09
2,1,0.55,this book is really great for those that have ...,0.0,0.0,4.0,A000023026XVLM97BM7KY,0957544901,1.397866e+09
3,0,0.73,only negative. thing i can say is when my fish...,0.0,0.0,4.0,A00003323X6I53YWRGN0,B00474A3DY,1.353110e+09
4,0,0.73,stunning look and i need a case that showcase ...,0.0,0.0,5.0,A00005303588WHRQZ6N4L,B00A9LVA0Y,1.388534e+09

In [2]:
df_all = pd.read_csv('output_unk_use.csv',sep='|',quoting=csv.QUOTE_NONE)

In [3]:
df_all.head()

,Predicted_label,Probability,Review,Upvotes,Downvotes,Rating,Reviewer_Id,Product_Id,Timestamp
0,0,0.73,i was sketchy at first about these but once yo...,0.0,0.0,5.0,A000008615DZQRRI946FO,B005FYPK9C,1.357603e+09
1,1,0.55,no matter what we did the bills just kept jamm...,6.0,1.0,1.0,A00001483M88NBD66LEP0,B004WPCQKG,1.353283e+09
2,1,0.55,this book is really great for those that have ...,0.0,0.0,4.0,A000023026XVLM97BM7KY,0957544901,1.397866e+09
3,0,0.73,only negative. thing i can say is when my fish...,0.0,0.0,4.0,A00003323X6I53YWRGN0,B00474A3DY,1.353110e+09
4,0,0.73,stunning look and i need a case that showcase ...,0.0,0.0,5.0,A00005303588WHRQZ6N4L,B00A9LVA0Y,1.388534e+09

In [4]:
len(df_all)

37829346

In [5]:
df_all = df_all[df_all['Probability']>0.7]

In [6]:
len(df_all)

26457838

In [7]:
len(df_all['Reviewer_Id'].unique())

7121279

# Assigning gender through majority voting

In [8]:
df_gender = df_all.groupby('Reviewer_Id').agg({'Predicted_label':'sum','Review':'count'}). \
reset_index().rename(columns={'Predicted_label':'label_sum','Review':'l_count'})

In [9]:
df_gender.head()

             Reviewer_Id  label_sum  l_count
0  A000008615DZQRRI946FO          0        1
1   A00003323X6I53YWRGN0          0        1
2  A00005303588WHRQZ6N4L          0        1
3  A00005783VHRG0BPBWR0X          2        3
4  A000059624SSMC21VECIQ          1        1

In [47]:
def getGender(x):
    if x>0.5:
        return 1
    return 0

In [11]:
df_gender['gender'] = df_gender['label_sum']/df_gender['l_count']

In [12]:
df_gender['gender'] = df_gender['gender'].apply(lambda x:getGender(x))

In [14]:
df_gender = df_gender.drop(columns=['label_sum','l_count'])

In [15]:
df_gender.head()

             Reviewer_Id  gender
0  A000008615DZQRRI946FO       0
1   A00003323X6I53YWRGN0       0
2  A00005303588WHRQZ6N4L       0
3  A00005783VHRG0BPBWR0X       1
4  A000059624SSMC21VECIQ       1

In [16]:
df_all_gender = pd.merge(df_all,df_gender,on='Reviewer_Id')

In [17]:
df_all_gender.head()

,Predicted_label,Probability,Review,Upvotes,Downvotes,Rating,Reviewer_Id,Product_Id,Timestamp,gender
0,0,0.73,i was sketchy at first about these but once yo...,0.0,0.0,5.0,A000008615DZQRRI946FO,B005FYPK9C,1.357603e+09,0
1,0,0.73,only negative. thing i can say is when my fish...,0.0,0.0,4.0,A00003323X6I53YWRGN0,B00474A3DY,1.353110e+09,0
2,0,0.73,stunning look and i need a case that showcase ...,0.0,0.0,5.0,A00005303588WHRQZ6N4L,B00A9LVA0Y,1.388534e+09,0
3,0,0.72,good material:,0.0,0.0,5.0,A00005783VHRG0BPBWR0X,B006K6WPCO,1.404086e+09,1
4,1,0.72,love it,0.0,0.0,5.0,A00005783VHRG0BPBWR0X,B00EWASFQA,1.404086e+09,1

In [18]:
df_all_gender[df_all_gender['Reviewer_Id']=='A3UZKJ8GOJQ9RT']

,Predicted_label,Probability,Review,Upvotes,Downvotes,Rating,Reviewer_Id,Product_Id,Timestamp,gender
19804817,1,0.73,we read this for our christmas book club. it w...,0.0,0.0,4.0,A3UZKJ8GOJQ9RT,0312289510,1.392077e+09,1
19804818,1,0.73,i bought every book i could find on breast can...,0.0,0.0,5.0,A3UZKJ8GOJQ9RT,0805094458,1.356480e+09,1
19804819,0,0.71,"if you are eating something gooey, it might as...",0.0,0.0,5.0,A3UZKJ8GOJQ9RT,B00024CU2A,1.392077e+09,1
19804820,1,0.73,my daughter who loves to garden was thrilled t...,0.0,0.0,5.0,A3UZKJ8GOJQ9RT,B00025EIZG,1.356480e+09,1
19804821,1,0.73,"when your kid asks for his vitamins every day,...",0.0,0.0,5.0,A3UZKJ8GOJQ9RT,B001G7QYCO,1.364342e+09,1
19804822,0,0.72,i usually like accel gel as they are not as th...,0.0,0.0,2.0,A3UZKJ8GOJQ9RT,B001SFRTBE,1.392077e+09,1
19804823,1,0.72,these fuel my teenage son when he is competiti...,0.0,0.0,5.0,A3UZKJ8GOJQ9RT,B002NX0UPM,1.386720e+09,1
19804824,1,0.73,these vitamins are not like the usual gummy be...,0.0,0.0,4.0,A3UZKJ8GOJQ9RT,B002YIHPMC,1.392077e+09,1
19804825,0,0.73,"in general, this phone is tough, but not if yo...",1.0,0.0,4.0,A3UZKJ8GOJQ9RT,B002ZFWH7W,1.356480e+09,1
19804826,1,0.73,our church said the girls needed to have their...,0.0,0.0,5.0,A3UZKJ8GOJQ9RT,B0030H8FWK,1.370304e+09,1
19804827,0,0.73,for all of you that have used dolo-neurobion i...,8.0,0.0,2.0,A3UZKJ8GOJQ9RT,B003KPEEMC,1.371686e+09,1
19804828,1,0.73,i always have a hard time finding a gift for m...,0.0,0.0,5.0,A3UZKJ8GOJQ9RT,B004EFPVVU,1.356480e+09,1
19804829,1,0.73,my 9 year old daughter was very excited to rec...,0.0,0.0,4.0,A3UZKJ8GOJQ9RT,B004NX6TFA,1.392077e+09,1
19804830,1,0.73,goes on with a pasty color but auto corrects t...,1.0,0.0,4.0,A3UZKJ8GOJQ9RT,B004R6CAGU,1.386720e+09,1
19804831,1,0.73,great gift for the teen who has everything! lo...,5.0,1.0,5.0,A3UZKJ8GOJQ9RT,B004TAJ094,1.356480e+09,1
19804832,1,0.73,it is very easy for me to remember to take my ...,0.0,0.0,5.0,A3UZKJ8GOJQ9RT,B004XLRTUQ,1.386720e+09,1
19804833,1,0.73,i am trying to use more natural skin products ...,0.0,0.0,2.0,A3UZKJ8GOJQ9RT,B004ZNERFM,1.364342e+09,1
19804834,0,0.72,i was allowed to shower 2 days after surgery w...,2.0,0.0,3.0,A3UZKJ8GOJQ9RT,B005F596SM,1.354493e+09,1
19804835,1,0.73,i love this conditioner! i have fine dark blon...,0.0,0.0,5.0,A3UZKJ8GOJQ9RT,B005HIH4B8,1.364342e+09,1
19804836,1,0.73,it unfortunately does not look like a $30 neck...,2.0,0.0,2.0,A3UZKJ8GOJQ9RT,B005IWM5IK,1.354493e+09,1
19804837,1,0.73,"stretchy, very comfortable nylon/ cotton mix s...",1.0,0.0,5.0,A3UZKJ8GOJQ9RT,B005VHF3MM,1.370304e+09,1
19804838,1,0.73,i am not sure if this is helping my wrinkles o...,1.0,1.0,4.0,A3UZKJ8GOJQ9RT,B006X1KROY,1.356480e+09,1
19804839,1,0.73,my daughter is a 4 and these shoes were really...,0.0,0.0,3.0,A3UZKJ8GOJQ9RT,B008BTQE9I,1.370304e+09,1
19804840,1,0.73,my daughter is really enjoying this kinect gam...,1.0,0.0,5.0,A3UZKJ8GOJQ9RT,B008J16AHE,1.356480e+09,1
19804841,1,0.73,the jewelry box is not really a box; each laye...,0.0,0.0,4.0,A3UZKJ8GOJQ9RT,B008TSSFC0,1.356566e+09,1

In [19]:
df_all_gender = df_all_gender.drop(columns=['Predicted_label','Probability','Reviewer_Id'])

In [20]:
df_all_gender.head()

,Review,Upvotes,Downvotes,Rating,Product_Id,Timestamp,gender
0,i was sketchy at first about these but once yo...,0.0,0.0,5.0,B005FYPK9C,1.357603e+09,0
1,only negative. thing i can say is when my fish...,0.0,0.0,4.0,B00474A3DY,1.353110e+09,0
2,stunning look and i need a case that showcase ...,0.0,0.0,5.0,B00A9LVA0Y,1.388534e+09,0
3,good material:,0.0,0.0,5.0,B006K6WPCO,1.404086e+09,1
4,love it,0.0,0.0,5.0,B00EWASFQA,1.404086e+09,1

# Calculating properties of the review text

In [21]:
import csv
import string
import math
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import cmudict
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer

In [22]:
translator = str.maketrans('', '', string.punctuation)

In [27]:
def get_words(text=''):
    text = text.translate(translator)
    words = word_tokenize(text)
    return words

In [28]:
get_words(df_all_gender.iloc[0]['Review'])

['i',
 'was',
 'sketchy',
 'at',
 'first',
 'about',
 'these',
 'but',
 'once',
 'you',
 'wear',
 'them',
 'for',
 'a',
 'couple',
 'hours',
 'they',
 'break',
 'in',
 'they',
 'fit',
 'good',
 'on',
 'my',
 'board',
 'an',
 'have',
 'little',
 'wear',
 'from',
 'skating',
 'in',
 'them',
 'they',
 'are',
 'a',
 'little',
 'heavy',
 'but',
 'wont',
 'get',
 'eaten',
 'up',
 'as',
 'bad',
 'by',
 'your',
 'grip',
 'tape',
 'like',
 'poser',
 'dc',
 'shoes']

In [29]:
df_all_gender.iloc[0]['Review']

"i was sketchy at first about these but once you wear them for a couple hours they break in they fit good on my board an have little wear from skating in them. they are a little heavy but won't get eaten up as bad by your grip tape like poser dc shoes. "

In [30]:
nltk.download('cmudict')
prondict = cmudict.dict()

[nltk_data] Downloading package cmudict to /home/sandipan/nltk_data...
[nltk_data]   Unzipping corpora/cmudict.zip.

In [31]:
def numsyllables(word):
    try:
        return [len(list(y for y in x if (y[-1]).isdigit())) for x in prondict[word.lower()]]
    except KeyError:
        return [0]

In [32]:
get_sent_count = lambda text: len(sent_tokenize(text))

In [33]:
def text_statistics(text):
    word_count = len(get_words(text))
    sent_count = get_sent_count(text)
    #if more than one pronunciation, take the largest no. of syllables
    syllable_count = sum(map(lambda w: max(numsyllables(w)), word_tokenize(text)))
    
    analyzedVars = {
        'word_cnt': float(word_count),
        'sentence_cnt': float(sent_count),
        'syllable_cnt': float(syllable_count),
    }
    
    return analyzedVars['word_cnt'],analyzedVars['sentence_cnt'], analyzedVars['syllable_cnt']

In [34]:
text_statistics(df_all_gender.iloc[0]['Review'])

(53.0, 2.0, 62.0)

In [35]:
#Flesch Kincaid measure of readability
#readability ease
flesch_formula = lambda word_count, sent_count, syllable_count : 206.835 - 1.015*word_count/sent_count - 84.6*syllable_count/word_count

def flesch(text):
    word_count, sent_count, syllable_count = text_statistics(text)
    #print(word_count,sent_count,syllable_count)
    score = 0.0
    if word_count > 0.0:
        score = round(flesch_formula(word_count, sent_count, syllable_count))
    return score

#grade level
fk_formula = lambda word_count, sent_count, syllable_count : 0.39 * word_count / sent_count + 11.8 * syllable_count / word_count - 15.59

def flesch_kincaid(text):
    word_count, sent_count, syllable_count = text_statistics(text)
    score = 0.0
    if word_count > 0.0:
        score = round(fk_formula(word_count, sent_count, syllable_count))
    return score

In [36]:
def length(text):
    word_count, sent_count, syllable_count = text_statistics(text)
    return word_count

In [37]:
from  nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
nltk.download('vader_lexicon')
sia = SIA()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/sandipan/nltk_data...

In [43]:
words = stopwords.words("english")
def sentiment(text):
    cleaned_text = " ".join([i for i in text.translate(translator).split() if i.isalpha() if i not in words]).lower()
    return sia.polarity_scores(cleaned_text)['compound']

In [39]:
txt = "i was sketchy at first about these but once you wear them for a couple hours they break in they fit good on my board an have little wear from skating in them. they are a little heavy but won't get eaten up as bad by your grip tape like poser dc shoes. "

In [44]:
sentiment(txt)

0.8674

In [45]:
df_all_gender['Grade_level'] = df_all_gender['Review'].apply(lambda x: flesch_kincaid(x))
print('calculated grade-level')
df_all_gender['length'] = df_all_gender['Review'].apply(lambda x: length(x))
print('calculated length')
df_all_gender['Sentiment'] = df_all_gender['Review'].apply(lambda x: sentiment(x))
print('calculated sentiment')

calculated grade-level
calculated length
calculated sentiment

In [46]:
df_all_gender.head()

,Review,Upvotes,Downvotes,Rating,Product_Id,Timestamp,gender,Grade_level,length,Sentiment
0,i was sketchy at first about these but once yo...,0.0,0.0,5.0,B005FYPK9C,1.357603e+09,0,9.0,53.0,0.8674
1,only negative. thing i can say is when my fish...,0.0,0.0,4.0,B00474A3DY,1.353110e+09,0,4.0,53.0,0.8316
2,stunning look and i need a case that showcase ...,0.0,0.0,5.0,B00A9LVA0Y,1.388534e+09,0,6.0,23.0,0.7783
3,good material:,0.0,0.0,5.0,B006K6WPCO,1.404086e+09,1,15.0,2.0,0.4404
4,love it,0.0,0.0,5.0,B00EWASFQA,1.404086e+09,1,-3.0,2.0,0.6369

In [47]:
df_all_gender = df_all_gender.drop(columns=['Review'])

In [48]:
df_all_gender.head()

,Upvotes,Downvotes,Rating,Product_Id,Timestamp,gender,Grade_level,length,Sentiment
0,0.0,0.0,5.0,B005FYPK9C,1.357603e+09,0,9.0,53.0,0.8674
1,0.0,0.0,4.0,B00474A3DY,1.353110e+09,0,4.0,53.0,0.8316
2,0.0,0.0,5.0,B00A9LVA0Y,1.388534e+09,0,6.0,23.0,0.7783
3,0.0,0.0,5.0,B006K6WPCO,1.404086e+09,1,15.0,2.0,0.4404
4,0.0,0.0,5.0,B00EWASFQA,1.404086e+09,1,-3.0,2.0,0.6369

In [49]:
df_male = df_all_gender[df_all_gender['gender']==0]

In [50]:
df_female = df_all_gender[df_all_gender['gender']==1]

In [51]:
len(df_male)

14258742

In [52]:
len(df_female)

12199096

In [53]:
df_female.to_csv('un_female_lsr.csv',sep='|',index=False)

In [54]:
df_male.to_csv('un_male_lsr.csv',sep='|',index=False)

In [55]:
df_u_k = pd.read_csv('un_female_lsr.csv',sep='|')

In [56]:
df_u_k.head()

,Upvotes,Downvotes,Rating,Product_Id,Timestamp,gender,Grade_level,length,Sentiment
0,0.0,0.0,5.0,B006K6WPCO,1.404086e+09,1,15.0,2.0,0.4404
1,0.0,0.0,5.0,B00EWASFQA,1.404086e+09,1,-3.0,2.0,0.6369
2,0.0,0.0,5.0,B00K7SH0OE,1.404086e+09,1,-4.0,5.0,0.8555
3,0.0,1.0,5.0,1606841769,1.367712e+09,1,10.0,25.0,0.7430
4,0.0,0.0,5.0,B004VO8NFK,1.371514e+09,1,3.0,23.0,0.9169

In [57]:
len(df_u_k)

12199096

# Inference on the known set through majority voting

In [1]:
import pandas as pd

In [2]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [28]:
df_infer = pd.read_csv('output_Char_cnn_2.csv')

In [29]:
df_infer.head()

   TrueLabel  PredictedLabel      ReviewerID
0          1               1   ASXKHSXR7A3M0
1          0               0   ARVQFHTPQ2WSH
2          1               1  A3UFL0XJGO10EL
3          0               0   AR44S49F5XHUH
4          0               0   AZH9FVOJM8U9P

In [30]:
accuracy_score(df_infer['TrueLabel'],df_infer['PredictedLabel'])

0.7520313359329179

In [36]:
df_l_s = df_infer.groupby('ReviewerID').agg({'PredictedLabel':'sum'}).reset_index().rename(columns={'PredictedLabel':'labelSum'})

In [37]:
df_l_s.head()

       ReviewerID  labelSum
0  A3U4DJB067UL1Q         4
1  A3U4DLE3SZGCAB         1
2  A3U4DNKZG4D4L0         1
3  A3U4DPP14KH66J         1
4  A3U4DPVTTKEFUT         0

In [38]:
df_l_c = df_infer.groupby('ReviewerID').agg({'PredictedLabel':'count'}).reset_index().rename(columns={'PredictedLabel':'labelCount'})

In [39]:
df_l_c.head()

       ReviewerID  labelCount
0  A3U4DJB067UL1Q           7
1  A3U4DLE3SZGCAB           1
2  A3U4DNKZG4D4L0           1
3  A3U4DPP14KH66J           1
4  A3U4DPVTTKEFUT           1

In [41]:
df_infer = pd.merge(df_infer,df_l_c,on='ReviewerID')

In [43]:
df_infer = pd.merge(df_infer,df_l_s,on='ReviewerID')

In [44]:
df_infer.head()

   TrueLabel  PredictedLabel     ReviewerID  labelCount  labelSum
0          1               1  ASXKHSXR7A3M0           1         1
1          0               0  ARVQFHTPQ2WSH          27         5
2          0               0  ARVQFHTPQ2WSH          27         5
3          0               0  ARVQFHTPQ2WSH          27         5
4          0               0  ARVQFHTPQ2WSH          27         5

In [45]:
df_infer['gender'] = df_infer['labelSum']/df_infer['labelCount']

In [46]:
df_infer.head()

   TrueLabel  PredictedLabel     ReviewerID  labelCount  labelSum    gender
0          1               1  ASXKHSXR7A3M0           1         1  1.000000
1          0               0  ARVQFHTPQ2WSH          27         5  0.185185
2          0               0  ARVQFHTPQ2WSH          27         5  0.185185
3          0               0  ARVQFHTPQ2WSH          27         5  0.185185
4          0               0  ARVQFHTPQ2WSH          27         5  0.185185

In [48]:
df_infer['gender'] = df_infer['gender'].apply(lambda x:getGender(x))

In [50]:
df_infer[df_infer['ReviewerID']=='ARVQFHTPQ2WSH']

    TrueLabel  PredictedLabel     ReviewerID  labelCount  labelSum  gender
1           0               0  ARVQFHTPQ2WSH          27         5       0
2           0               0  ARVQFHTPQ2WSH          27         5       0
3           0               0  ARVQFHTPQ2WSH          27         5       0
4           0               0  ARVQFHTPQ2WSH          27         5       0
5           0               0  ARVQFHTPQ2WSH          27         5       0
6           0               0  ARVQFHTPQ2WSH          27         5       0
7           0               0  ARVQFHTPQ2WSH          27         5       0
8           0               0  ARVQFHTPQ2WSH          27         5       0
9           0               0  ARVQFHTPQ2WSH          27         5       0
10          0               0  ARVQFHTPQ2WSH          27         5       0
11          0               0  ARVQFHTPQ2WSH          27         5       0
12          0               0  ARVQFHTPQ2WSH          27         5       0
13          0               0  ARVQFHTPQ2WSH          27         5       0
14          0               1  ARVQFHTPQ2WSH          27         5       0
15          0               0  ARVQFHTPQ2WSH          27         5       0
16          0               1  ARVQFHTPQ2WSH          27         5       0
17          0               0  ARVQFHTPQ2WSH          27         5       0
18          0               1  ARVQFHTPQ2WSH          27         5       0
19          0               0  ARVQFHTPQ2WSH          27         5       0
20          0               0  ARVQFHTPQ2WSH          27         5       0
21          0               0  ARVQFHTPQ2WSH          27         5       0
22          0               1  ARVQFHTPQ2WSH          27         5       0
23          0               0  ARVQFHTPQ2WSH          27         5       0
24          0               0  ARVQFHTPQ2WSH          27         5       0
25          0               0  ARVQFHTPQ2WSH          27         5       0
26          0               1  ARVQFHTPQ2WSH          27         5       0
27          0               0  ARVQFHTPQ2WSH          27         5       0

In [51]:
accuracy_score(df_infer['TrueLabel'],df_infer['gender'])

0.8211777201203803